<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <style>
      body {
        font-family: Arial, sans-serif;
        font-size: 12px;
      }
      h1,
      h2 {
        color: #004080;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
      }
      th,
      td {
        border: 1px solid #ccc;
        padding: 5px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <h1>Resumen de Registro</h1>

    <h2>Participante</h2>
    <p><strong>Nombre:</strong> {{ participante.nombre }}</p>
    <p><strong>Identificación:</strong> {{ participante.identificacion }}</p>
    <p><strong>Edad:</strong> {{ participante.edad }}</p>
    <p><strong>Correo:</strong> {{ participante.correo }}</p>
    <p><strong>Teléfono:</strong> {{ participante.telefono }}</p>
    <p><strong>Curso:</strong> {{ participante.curso.nombre }}</p>

    {% if datos_complementarios %}
    <h2>Datos Complementarios</h2>
    <p>
      <strong>Grupo Étnico:</strong> {{ datos_complementarios.grupo_etnico }}
    </p>
    <p>
      <strong>Discapacidad:</strong> {{ datos_complementarios.discapacidad }}
    </p>
    <p>
      <strong>Tipo de Sangre:</strong> {{ datos_complementarios.tipo_sangre }}
    </p>
    {% endif %} {% if acudiente %}
    <h2>Acudiente</h2>
    <p><strong>Nombre:</strong> {{ acudiente.nombre }}</p>
    <p><strong>Teléfono:</strong> {{ acudiente.telefono }}</p>
    <p><strong>Parentesco:</strong> {{ acudiente.parentesco }}</p>
    {% endif %}
  </body>
</html>
